
<h1 class="title">Uptime Monitoring</h1>
<h2 class="subtitle">Made Simple</h2>

<div class="blurb">
    We offer free uptime monitoring for HTTP/HTTPS sites of all kinds. When your site goes down, this app is prepared to send a text message to the user. You can also check a dashboard with tables an data on the uptime live of your Apps.
</div>

<div class="ctaWrapper when__loggedout">
    <a class="cta green" href="account/create">Get Started</a>
    <a class="cta blue" href="session/create">Login</a>
</div>

<div class="blurb when__loggedin">
    <ul>
        <li>
            Go to the Dashboard to see the data of uptime/downtime cicle of the websites you want to monitor or  set a new site to monitor (UP TO 5 SITES).
        </li>
        <li>
            Go to your account settings to change your settings.
        </li>
    </ul>
</div>