
<h1 class="title">{head.title}</h1>
<h2 class="subtitle">{subtitle}</h2>

<div class="form__wrapper">
  <hr />
</div>
<div class="form__wrapper">
  <form class="form" id="accountEdit1" action="/api/users" method="PUT">
    <fieldset class="form__fieldset">
      <legend>Name & Last name</legend>
      <input type="hidden" name="_method" value="PUT" />
      <div class="form__fromError"></div>
      <div class="form__fromSucces">Your Changes Have Been Saved</div>
      <input class="hiddenPhoneNumberInput" type="hidden" name="phone" />
      <div class="form__inputWrapper">
        <div class="form__inputLabel">Phone Number</div>
        <input
          class="disabled displayPhoneInput"
          type="text"
          name="displayPhone"
          disabled
        />
      </div>
      <div class="form__inputWrapper">
        <div class="form__inputLabel">First Name</div>
        <input
          class="firstNameInput"
          type="text"
          name="firstName"
          placeholder="John"
          onkeyup="handleUpdateNameButton()"
        />
      </div>
      <div class="form__inputWrapper">
        <div class="form__inputLabel">Last Name</div>
        <input
          class="lastNameInput"
          type="text"
          name="lastName"
          placeholder="Smith"
          onkeyup="handleUpdateNameButton()"
        />
      </div>
      <div class="form__inputWrapper">
        <button type="submit" class="cta green" id="updateNameBtn" disabled >Save Changes</button>
      </div>
    </fieldset>
  </form>
  <hr />
</div>

<h2>Change Your Password</h2>
<div class="form__wrapper">
  <form class="form" id="accountEdit2" action="/api/users" method="PUT">
    <fieldset class="form__fieldset">
        <legend>Password</legend>
      <input type="hidden" name="_method" value="PUT" />
      <div class="form__fromError"></div>
      <div class="form__fromSucces">Your New Password Has Been Saved</div>
      <input class="hiddenPhoneNumberInput" type="hidden" name="phone" />
      <div class="form__inputWrapper">
        <div class="form__inputLabel">Choose a New Password</div>
        <input
          type="password"
          name="password"
          placeholder="Make it a good one!"
          onkeyup="handleUpdatePasswordButton()"
        />
      </div>
      <div class="form__inputWrapper">
        <div class="form__inputLabel">Validate the Password</div>
        <input
          type="password"
          name="confirmPassword"
          placeholder="Repeat the same password"
          onkeyup="handleUpdatePasswordButton()"
        />
        <span id="form__validPassword" style="visibility:hidden;">OK</span>
      </div>
      <div class="form__inputWrapper">
        <button type="submit" class="cta green" id="updatePasswordBtn" disabled >Save Password</button>
      </div>
    </fieldset>
  </form>
  <hr />
</div>
<h2>Delete Your Account</h2>
<div class="form__wrapper">
  <form class="form" id="accountEdit3" action="/api/users" method="DELETE">
    <fieldset class="form__fieldset">
      <legend>DELETE</legend>
        <input type="hidden" name="_method" value="DELETE"/>
        <div class="form__fromError"></div>
        <div class="form__warning red">Warning: This action cannot be undone. Dont click this button on accident!</div>
        <input class="hiddenPhoneNumberInput" type="hidden" name="phone" />
        <div class="inputWrapper">
      <button type="submit" class="cta red">Delete Account</button>
    </div>
  </fieldset>
  </form>
</div>
<!-- onkeyup="handleSignUpButton()" -->